.productDetail {
    display:flex;
    padding: 30px 0px;
}

.detailContainer {
    width: 554px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailHeader{
    margin-left: 40px;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    height: 128px;
    padding-bottom: 5px;
}
.productName{
    font-size: 24px;
    margin-bottom: 18px;
    font-weight: 600;
    line-height: 1.4;
}

.price {
    font-size: 40px;
    font-weight: 600;

    span{
        font-size: 28px;
        font-weight: 400;
    }
}

.detailTop {
    width: 554px;
    margin: 15px 0px 25px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.detailLeft {
    display:flex;
    
    div::after {
        content:"";
        width: 1px;
        height: 12px;
        border-right: 1px solid rgb(238, 238, 238);
        margin: 0px 10px 0px 10px;
    };
    div:last-child::after {
        content:none;
    }
}

.box1 {
    display:flex;
    align-items: center;
    justify-content: center;
}

.number1 {
    font-size: 16px;
    color: #CCCCCC;
}

.detailMiddle {
    width: 100%;
    margin-left: 40px;
}

.listName {
    position: relative;
    color: rgb(153, 153, 153);
    font-size:14px;
    padding-left: 15px;
    width: 90px;

    ::before {
        position: absolute;
        top: 7px;
        left: 6px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: rgb(204, 204, 204);
        content: "";
    };
}

.listValue {
    color: #212121;
    font-size:14px;
    
}

.detailBottom {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 554px;
    height: 56px;
    
    
}

.button0 {
    background: rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    border: none;
    width:100%;
    cursor: pointer;
    height: 56px;
    width: 179px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20.7px;
    margin: 0px 10px 0px 40px;
}

.button1 {
    background: rgb(255, 164, 37);
    border: none;
    color: rgb(255, 255, 255);
    width:100%;
    cursor: pointer;
    height: 56px;
    width: 179px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20.7px;
    margin-right: 10px;
}

.button2 {
    background: rgb(247, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    width:100%;
    cursor: pointer;
    height: 56px;
    width: 179px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20.7px;
}

.button0 shoppingBasket { 
    margin-left: 5px;
}