.category-menu {
  position: relative;
  display: inline-block;
}

.category-label {
  cursor: pointer;
  font-weight: normal;
}

.category-list {
  list-style: none;
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 300px;
  font-size: 18px;
  font-weight: bold;
}

.category-list li {
  position: relative;
  margin: 10px 5px 5px;
}

.category-list a {
  text-decoration: none;
  color: #333;
  display: block;
  letter-spacing: -1px;
}

.category-list a.active {
  font-weight: bold;
}


.hidden-menu {
  position: absolute;
  top: 0;
  left: 104%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  width: 160px;
  padding: 5px;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 15px;
}

.hidden-menu a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  letter-spacing: -1px;
}

.hidden-menu a:hover {
  background-color: #f5f5f5;
}

.category-list a:hover {
  background-color: red;
  color: white;
}

.category-list li:hover .hidden-menu {
  display: block;
}

.category-menu:hover .category-label {
  font-weight: bold;
}

.category-menu:hover .category-list {
  display: block;
}

