/* .category {
  top: calc(100% + 28px);
  left: 0px;
  border-left: 1px solid rgb(238, 238, 238);
  z-index: 10;
  position: absolute;

  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
} */



.category-menu {
  position: relative;
  display: inline-block;
  text-align: center;
  /* top: calc(100% + 28px); */
  /* left: 0px; */
}

.category-label {
  cursor: pointer;
  font-weight: normal;
}

.category-list {
  list-style: none;
  position: absolute;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 400px;
  font-size: 18px;
  font-weight: bold;
}

.category-list li {
  position: relative;
  /* margin: 10px 5px 5px; */
  text-align: center;
  margin: 10px 5px;
}

.category-list a {
  text-decoration: none;
  color: #333;
  display: block;
  letter-spacing: -1px;
}

.category-list a.active {
  font-weight: bold;
}


.hidden-menu {
  position: absolute;
  left: 102%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  width: 200px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px 0px 25px;
}

.hidden-menu a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  letter-spacing: -1px;
}

.hidden-menu a:hover {
  background-color: #f5f5f5;
}

.category-list a:hover {
  background-color: red;
  color: white;
  display: inline-block;
  width: max-content;
}

.category-list li:hover .hidden-menu {
  display: block;
}

.category-menu:hover .category-label {
  font-weight: bold;
}

.category-menu:hover .category-list {
  display: block;
}


.category-all {
    height: 40px;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(238, 238, 238);
    font-weight: 700;  
}

/* .category-list {
    height: calc(100% - 40px);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px 25px;
    overflow-y: auto;
} */

/* .active {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 30px;
  height: 30px;
} */

.active_main {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 30px;
  height: 30px;
  background: rgb(246, 68, 72);
  color: rgb(255, 255, 255);
  text-align: center;
}

.active_sub {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0px 25px;

  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
}

.category-menu:hover .category-list a:hover {
  color: red;
}

.category-list a:hover {
  background-color: white;
}