/* @media (min-width: 768px){ */
  .card_photo {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F8F9FA;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 15);
    box-sizing: border-box;
    margin: 0 auto;
  }

  .card_photoimg {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 100px;
    object-fit: cover; /* 이미지를 찌그러뜨리지 않고 비율을 유지하며 자르기 */
    border-radius: 12px;
    border: 1px solid transparent;
  }


  .card_desc {
    margin-top: 12px;
    height: 200px;
  }

  .card_title {
    font-size: 16px;
    letter-spacing: -0.02px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: normal;
  }

  .card_price {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
  }

  .crd_region_name {
    font-size: 13px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
  }

  .card_counts {
    color: #868e96;
    font-size: 13px;
  }
/* } */
